/.bundle/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
gemfiles/.bundle/*

# rspec failure tracking
.rspec_status
.idea/
.byebug_history
*.gem
coverage
spec/internal/log/*
/target/*
/spec/install_test_files/target/
/.rakeTasks

# Sorbet
/**/sorbet/rbi/hidden-definitions/errors.txt
